.ContainerGrey{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ECEDEF;
  width: 100%;
  height: 100%;
}

.ChildText{
  font-weight: bold;
  color: #4A5468;
  font-size: 13px;
}