$brand-blue: #009bf3;
$subtitle-grey: #636e84;
$brand-grey-4: #D8DDE6;
$grey-font-1: #9AA5B5;
$top-bar-separator-color: #D6DEE6;
$grey-light-1: #4A5468;
$background-grey: #fbfbfe;
$brand-grey-5: #F0F2F7;
$funnelytics-hover-blue: #33B5FE;
$green-dark-1: #11AD66;
$fiord: #3D4B66;
$white: #ffffff;
$brand-black: #1e2532;
$brand-black-2: #07090d;
$color-picker-border: 0 0 0 2px #FFFFFF, 0 0 0 3px #007FFF;
$bottom-bar-z-index: 1;
$header-z-index: 1;
$input-border: #D6DEE6;
$step-toolbar-z-index: 10;
$dropdown-content-z-index: 10;
$hotkey-background: #D6DEE6;

$picker-white: #fff; 
$picker-blue: #0099EF;
$picker-purple: #9642F8;
$picker-red: #F93646;
$picker-orange: #FF893F;
$picker-yellow: #FFD93C;
$picker-green: #00D27C;
$picker-teal: #1CD3D2;
$picker-black: #1E2531;
$picker-grey: #BEBEBE;

$hover-color: #F0F2F7;