@import '~react-project/styles/variables';

.Slider {
  display: flex;
  align-items: center;
  &.SliderChecked {
    .SliderRound {
      background-color: $green-dark-1;
      &:before {
        left: 50%;
      }
    }
  }
}

.SliderLabel {
  width: 25px;
  height: 14px;
  position: relative;
  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

.SliderRound {
  border-radius: 34px;
  position: absolute;
  cursor: pointer;
  background-color: $fiord;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &:before {
    position: absolute;
    border-radius: 50%;
    content: '';
    left: 4px;
    bottom: 3px;
    background-color: $white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    width: 10px;
    height: 10px;
    top: 2px;
  }
}
